// ////////////////////////////////////////////
// Logo
.logo {
  height: 5rem;
  margin: 1.5rem;
}

// ////////////////////////////////////////////
// Search

.search {
  display: flex;
  flex: 0 0 30%;

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-Grey-light-2);
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 20px;
    width: 80%;
    transition: all 0.2s;
    margin-right: -4rem;
    color: var(--color-Grey-light-3);
    &:focus {
      outline: none;
      background-color: var(--color-Grey-light-3);
      width: 90%;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    width: 50px;
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: ;
  }
}
