.container {
  // width: 100%;
  // margin: 5rem auto;
  // background-color: white;
  // box-shadow: var(--shadow-dark);
  // min-height: 50rem;
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
}

.header {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  background-color: #ffffff;
  border-bottom: 1px solid var(--color-Grey-light-2);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 15%;
  background-color: var(--color-Grey-dark-1);
}

.covid-view {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  flex: 1 0 0;
}

.details {
  display: flex;
}

.footer {
  display: flex;
  background-color: var(--color-Grey-light-2);
  height: 20rem;
  justify-content: space-evenly;
  width: 100vw;
  // margin-top: 30rem;
}

@media only screen and (max-width: 600px) {
  .footer {
    width: 150vw;
    height: 30rem;
    flex-direction: column;
  }
}
