.table {
  font-size: 1.2rem;
  margin: 4rem;

  td,
  th {
    padding: 1.4rem;
  }

  tr:nth-of-type(odd) {
    background-color: #f6f6f7;
  }
}
@media only screen and (max-width: 600px) {
  .table {
    font-size: 1rem;
    margin: 0.3rem;

    td,
    th {
      padding: 0.3rem;
    }
  }
}
