:root {
  --color-primary: #ff184a;
  --color-primary-light: #f5f5f5;
  --color-primary-dark: #f5f5f5;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-dark-less: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Century Gothic";
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-Grey-light-1);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-Grey-dark-2);
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7rem;
  background-color: #ffffff;
  border-bottom: 1px solid var(--color-Grey-light-2);
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  background-color: var(--color-Grey-dark-1);
}

.covid-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-Grey-light-2);
  height: 20rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .footer {
    height: 30rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .cases {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .overview__details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statewise__stats {
    width: 100%;
  }
  .statewise__district {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
  }
  .overview__details--map {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin: -5rem;
    margin-top: -20rem;
  }
  .chart {
    margin-right: -3rem !important;
    width: 60rem !important;
  }
  .statewise__items--active {
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .statewise__items--confirmed {
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .statewise__items--deaths {
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .statewise__items--recovered {
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .side-nav {
    display: none;
  }
  .sidebar {
    display: none;
  }
}

.logo {
  height: 5rem;
  margin: 1.5rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-Grey-light-2);
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 20px;
  width: 80%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: -4rem;
}

.search__input:focus {
  outline: none;
  background-color: var(--color-Grey-light-3);
  width: 90%;
}

.search__button {
  background-color: transparent;
  border: none;
  width: 50px;
}

.search__icon {
  height: 2rem;
  width: 2rem;
}

.side-nav {
  font-size: 1.5rem;
  margin-top: 3.5rem;
  list-style: none;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: width 0.2s 0.2s, -webkit-transform 0.2s;
  transition: width 0.2s 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.2s 0.2s;
  transition: transform 0.2s, width 0.2s 0.2s, -webkit-transform 0.2s;
}

.side-nav__item:hover::before {
  width: 100%;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-Grey-light-1);
  text-decoration: none;
  display: block;
  padding: 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  z-index: 10;
}

.side-nav__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  fill: currentColor;
}

.legal {
  text-align: center;
  color: var(--color-Grey-light-4);
  padding: 2rem;
}

.cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #f5f5f5;
}

.cases__item {
  width: 100%;
  background-color: var(--color-Grey-light-1);
  padding: 1rem 3rem;
}

.cases__item__confirmed {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cases__item__confirmed:hover {
  color: red;
  width: 110%;
}

.cases__item__recovered {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cases__item__recovered:hover {
  color: green;
  width: 110%;
}

.cases__item__active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cases__item__active:hover {
  color: blueviolet;
  width: 110%;
}

.cases__item__deaths {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
}

.cases__item__deaths:hover {
  color: grey;
  width: 120%;
}

.cases__count__primary {
  font-weight: 200;
  text-align: center;
  width: 100%;
}

.cases__count__secondary {
  text-align: center;
  width: 100%;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.overview__heading {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 1px;
  margin-right: auto;
  padding: 1.5rem 3rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.overview__icon--location {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-primary);
}

.overview .av {
  font-size: 1.2rem;
  font-weight: 100;
}

.overview__rating {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.overview__rating--average {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-left: 3rem;
  background-color: var(--color-primary);
}

.overview__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview__details--content {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.overview__details--map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.overview__details--map #svg2 {
  fill: #efefef;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.overview__details--map #svg2 path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  stroke: #939393;
}

.overview__details--label {
  padding: 1rem;
  font-size: small;
  font-weight: 100;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.overview__details--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__details--history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statewise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statewise__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.statewise__stats__items--active {
  margin: 1rem;
  background-color: #e4cff8;
  color: blueviolet;
  border-radius: 10px;
  padding: 1rem;
}

.statewise__stats__items--confirmed {
  margin: 1rem;
  background-color: #f5dada;
  color: red;
  border-radius: 10px;
  padding: 1rem;
}

.statewise__stats__items--deaths {
  margin: 1rem;
  background-color: #e7e7e7;
  color: grey;
  border-radius: 10px;
  padding: 1rem;
}

.statewise__stats__items--recovered {
  margin: 1rem;
  background-color: #bdebbd;
  color: green;
  border-radius: 10px;
  padding: 1rem;
}

.statewise__stats .stats__h2 {
  font-weight: 200;
}

.statewise__stats .stats__h1 {
  font-size: large;
}

.statewise__district {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.btn-inline {
  color: var(--color-primary);
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  margin: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 2px;
  display: inline-block;
}

.btn-inline:hover {
  color: var(--color-Grey-dark-1);
  border-bottom: 1px solid var(--color-Grey-dark-1);
}

.chart {
  margin-right: 3rem;
  width: 60rem !important;
}

.footer__foot {
  width: 50rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.footer h1 {
  font-weight: 300;
  font-size: 1.2rem;
}

.footer .bold {
  font-weight: 100;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer img {
  margin: 1rem;
  width: 20px;
  height: 20px;
}

.table {
  font-size: 1.2rem;
  margin: 4rem;
}

.table td,
.table th {
  padding: 1.4rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f6f6f7;
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: 1rem;
    margin: 0.3rem;
  }
  .table td,
  .table th {
    padding: 0.3rem;
  }
}
/*# sourceMappingURL=main.css.map */